

<p *ngFor="let error of error_messages">{{error}}</p>
<a [routerLink]="['/dashboard']">Go to polls</a>
<button (click)="logout()" >Logout</button><br>
<strong>{{poll.question}}?</strong> 
<h2>Click the vote button to choose one</h2>
{{poll.options|json}}
<fieldset>
 <table>
  <tr>
    <th>Option</th>
    <th>Current count of votes</th>
    <th>Action</th>
  </tr>
   <tr *ngFor="let option of poll.options | getKeys">
    <th>{{option[1].content}}</th>
     <th>{{option[1].votes}}</th>
     <th><button (click)="vote(option[0] )">Vote!</button></th>
  </tr> 
</table>
</fieldset>

sudo ln -s /etc/nginx/sites-available/ten /etc/nginx/sites-enabled/ten






