

 
    <form #userForm="ngForm" novalidate (submit)="onSubmit()">
      <fieldset>
        <legend> Log In: </legend>
          <i>Your name: </i>
            
          <input type="text" required name="input_name" [(ngModel)]="user.name" #input_name="ngModel">
          <p *ngIf="!input_name.valid && input_name.touched ">Name field is required</p><br>
          <input type="submit" [disabled]="!userForm.form.valid" value="Enter">
          <a [routerLink]="['/dashboard']"> Already Logged In?</a>
      </fieldset>    
        </form>
        

    

  




